/* Estilos globais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #635f5f;
    color: #333;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos do banner */
  .banner img {
    width: 50px;
    margin-left: 50%;
  }
  
  /* Estilos do cabeçalho */
  header {
    text-align: center;
    padding: 40px 0;
    background-color: #fff;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  /* Estilos da navegação */
  nav ul {
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  /* Estilos das seções */
  section {
    background-color: #fff;
    padding: 40px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  /* Estilos do formulário de contato */
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form textarea {
    height: 120px;
  }
  
  form button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilos do carrossel */
  .carousel {
    display: flex;
    overflow: hidden;
  }
  
  .carousel div {
    flex: 0 0 100%;
    padding-right: 10px;
    transition: transform 0.5s ease;
  }
  
  .carousel img {
    width: 100%;
  }
  
  .carousel p {
    margin-top: 10px;
  }
  
  /* Estilos do botão do WhatsApp */
  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
  }
  
  .whatsapp-button img {
    width: 30px;
    height: 30px;
  }
  
  .whatsapp-button:hover {
    background-color: #128C7E;
  }
  
  /* Estilos do rodapé */
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
  }
  