@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://thumbs.dreamstime.com/b/padlock-com-conceito-do-fechamento-da-seguran%C3%A7a-e-fundo-eletr%C3%B4nico-futurista-tecnologia-ilustra%C3%A7%C3%A3o-transparente-vetor-100731912.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
    
}

.cabecalho-image {
    height: 62px;
    margin-right: 700px;   
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    cursor: pointer;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #ffdfdf;
    font-weight: 400;
    font-size: 18px
}

.conteudo {
    border-top: #79333f solid 0.4px;
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: rgb(161, 35, 35);
    margin-left: 30px;
}

.conterudo-pricipal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 450;
    font-size: 24px;
    color: #ffdfdf;
    margin-left: 20px;
}

/*
.conteudo-principal-imagem {
    height: 430px;
    width: 430px;
}*/

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: #79333f solid 0.4px;
    padding-top: 10px;
    font-family: 'Righteous', cursive;
    font-weight: 300;
    font-size: 24px;
    color: #ffdfdf;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffdfdf;
}

.orcamento {
    height: 40px;
    width: 40px;

}

.orcamento:hover {
    background-color: #443a38
}



footer {
    
   margin-top: 20px;
    color: #e4dcdc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}